node_modules
dist
dist-ssr
*.local
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# firebase CLI local cache
.firebase

# editor
.vscode/*
!.vscode/extensions.json
.idea

# os
.DS_Store

# logs
npm-debug.log*
